extends layout

block content
    .container.d-flex.justify-content-center.align-items-center(style="min-height:80vh;")
        .card.p-4.shadow(style="width:100%; max-width:400px;")

            h3.text-center.mb-3 Login

            if error
                .alert.alert-danger #{error}
            if success
                .alert.alert-success #{success}
            form(action="/login" method="POST")

                .mb-3
                    label.form-label(for="email") Email
                    input.form-control(type="email" name="email" value=email || "" required)

                .mb-3
                    label.form-label(for="password") Password
                    input.form-control(type="password" name="password" required)

                button.btn.btn-dark.w-100(type="submit") Login

            .text-center.mt-3
                small
                    | Don’t have an account?
                    a(href="/register") Register