extends layout

block content
    .container.d-flex.justify-content-center.align-items-center(style="min-height:80vh;")
        .card.p-4.shadow(style="width:100%; max-width:400px;")

            h3.text-center.mb-3 Register

            if error
                .alert.alert-danger #{error}

            form(action="/register" method="POST")

                .mb-3
                    label.form-label First Name
                    input.form-control(type="text" name="first_name" value=first_name || "" required)

                .mb-3
                    label.form-label Last Name
                    input.form-control(type="text" name="last_name" value=last_name || "" required)

                .mb-3
                    label.form-label Email
                    input.form-control(type="email" name="email" value=email || "" required)

                .mb-3
                    label.form-label Password
                    input.form-control(type="password" name="password" required)

                button.btn.btn-dark.w-100(type="submit") Register

            .text-center.mt-3
                small
                    | Already have an account?
                    a(href="/login") Login