extends layout 
block content 
    h1 Register

    form(action="/register" method="POST")

        div
            label(for="first_name") First Name
            input(type="text" name="first_name" id="first_name" required)

        div
            label(for="last_name") Last Name
            input(type="text" name="last_name" id="last_name" required)

        div
            label(for="email") Email
            input(type="email" name="email" id="email" required)

        div
            label(for="password") Password
            input(type="password" name="password" id="password" required)

        div
            button(type="submit") Register